flask
werkzeug
flask-cors
torch
transformers
pillow
pymupdf
geopy
sentence-transformers
huggingface-hub
spacy
pytesseract
langdetect
deep-translator
pytest
requests
numpy
python-dotenv
pyngrok
gunicorn

